@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,600,500,700,800);



* {
font-family:"Roboto" !important;
font-smoothing:"antialiased" !important;
-webkit-font-smoothing:"antialiased" !important;
-moz-font-smoothing:"antialiased" !important;
-o-font-smoothing:"antialiased" !important;

}


html {
    height:100%;
    width:100%;
    background-image: #f7f8f9;
    background-image: -webkit-radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background-image: -moz-radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background-image: -o-radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background-image: -ms-radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background-image: radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background:white;
	}

body {
	background: none !important;
}

form {
  padding:0;
  margin:0;
}

.container {
	background:none;
  width:100% !important;
}

.icon-user {
  margin-top: 3px;
margin-left: 6px;

}

h1 {
	font-weight:900;
  font-family:"Roboto" !important;
font-smoothing:"antialiased" !important;
-webkit-font-smoothing:"antialiased" !important;
-moz-font-smoothing:"antialiased" !important;
-o-font-smoothing:"antialiased" !important;
}

.hidden {
  display:none;
}

.windowbutton {
  float:left;
  padding:13px 12px 6px ;
  cursor:pointer;
  opacity:0.7;
}

.windowbutton:hover {
  opacity:1;
}

h3 {
    padding:10px;
    font-size:20px;
    font-weight:700 !important;
    font-family: "Raleway" !important;
font-smoothing:"antialiased" !important;
-webkit-font-smoothing:"antialiased" !important;
-moz-font-smoothing:"antialiased" !important;
-o-font-smoothing:"antialiased" !important;
}

.brand {
  font-family: "Raleway" !important;
  color:white !important;
  opacity:1 !important;
  font-weight:600 !important;
font-smoothing:"antialiased" !important;
-webkit-font-smoothing:"antialiased" !important;
-moz-font-smoothing:"antialiased" !important;
-o-font-smoothing:"antialiased" !important;
text-shadow:1px solid black;
padding: 10px 20px 10px 7px !important;
margin:0 !important;
}

.alert {
  z-index:99;
  position:absolute;
  top:50px;
}

.canvas {

  position:fixed;
  bottom:0;
  right:0;
  left:0;
  min-height:100%;
  min-width:100%;
  z-index:-1;
}

#status {
  color: #ccc;
  position: absolute;
  cursor: default;
  font-weight: 100 !important;
  top: 90px;
  left:30px;
  font-size:16px;
}

#video-chat {
  bottom:60px;
  right:10px;
  position:absolute;
  z-index:2;
  width:170px;
  opacity:1;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

#video-chat:hover {
    
    opacity:.5;
}

#video-chat-content {
	border-radius:3px;
  box-shadow:0 0 3px rgba(0,0,0,.1);
	border:1px solid rgba(0,0,0,.2);
}

.modal.fade.in {
top: 15%;
}

.not-logged-in .navbar-fixed-top button {
  display:none;
}

.navbar {

}

.navbar-fixed-top {
  border-left:5px solid rgb(77, 144, 254);
z-index:99999999;
-webkit-app-region: drag;

}

.navbar-fixed-top .container {
  padding-top:10px;
  padding-bottom:10px;
}

.navbar-inner {
  padding-left:10px !important;
  padding-right:10px !important;
}

.navbar-fixed-top .navbar-inner {
  box-shadow: inset 0 1px 1px rgba(255,255,255,.1);
  border-bottom:1px solid black;
}

.navbar-fixed-bottom .navbar-inner {
  background:rgba(240,240,240,.8);
  box-shadow:none !important;

}

.bottom-bar {
  padding-top:10px;
  padding-bottom:12px;

}

.navbar li {
  margin-right:5px;
  margin-left:5px;
  font-size:12px;
}



.bottom-bar input,
.bottom-bar select {
  font-size:11px !important;
}

.btn-group {
  margin-top:0px !important;
}

.btn,  select {
    font-weight:700;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size:11px !important;
    -webkit-font-smoothing:"antialiased" !important;
    -webkit-appearance: none;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    background-color: rgb(245, 245, 245);
    background-image: none;
    background-repeat: repeat-x;
    border-bottom-color: rgb(179, 179, 179);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.0980392);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.0980392);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.0980392);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    line-height: 20px;
    margin: 0px !important;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    text-align: center;
    text-indent: 0px;
    outline:none !important;



}

select {
  background:white;

}



.btn-danger, .btn-danger:hover {
      background-color: #d14836;
      background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
      background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
      background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
      background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
      background-image: -o-linear-gradient(top,#dd4b39,#d14836);
      background-image: linear-gradient(top,#dd4b39,#d14836);
      border: 1px solid #c13828;
      -moz-border-radius: 2px;
      -o-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      text-transform:uppercase;
      display: block;
      -webkit-transition:none .1s !important;
}


.btn-primary, .btn-primary:hover, .btn-primary.active {
      -webkit-align-items: flex-start;
      -webkit-appearance: none;
      -webkit-user-select: none;
      -webkit-writing-mode: horizontal-tb;
      background-color: rgb(77, 144, 254);
      background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: -moz-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: -ms-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: -o-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
      -webkit-transition:none;
      border-color: rgb(48, 121, 237);
      border-style: solid;
      border-width: 1px;
      margin:5px 0 !important;
      text-transform:uppercase;
      -webkit-transition:width .1s !important;
}

.user-cell-title {
  font-size:13px;
  margin-left:5px;
  font-weight:bold;
}

.btn-primary.active {

        border-color:rgba(255,255,255,.01) !important;
        background-image: -webkit-linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: -moz-linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: -ms-linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: -o-linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
      background-image: linear-gradient(bottom,rgb(77, 144, 254),rgb(71, 135, 237));
}

canvas:active {
    cursor:default;
}

.l {
  font-weight:400;
  color:white;
  font-size:11px;

  margin-left:15px;
  margin-right:2px;
}

b {
font-weight:900;
}

.modal {
  
}

.btn-none, .btn-none:hover, .btn-none:active {
  background:none;
  box-shadow:none;
  border:1px solid #333;
  text-shadow:none;
  color:#ccc;
  cursor:default;
}

.question  {
  font-size:16px;

  -webkit-font-smoothing:antialiased !important;
}

.question-text {
  font-weight: 400;
  font-size: 16px;
}


#user-list {
  position:fixed;
  top:80px;
  right:0;
  width:200px;
  
}

.user-cell {
  border-bottom:1px solid white;
  background:#eee;
  padding:5px;
  cursor:pointer;
  border-radius:2px 0 0 2px;
}

.user-cell-id {
  font-size:11px;
  font-weight:400;
  text-transform:uppercase;
  width:20px;
  padding:5px;
}

.user-cell-name {
  font-size:13px;
  font-weight:600;
}

#status {
  display:block;
}


@media only screen and  (max-width : 1250px) {

  #video-chat {width:10%;}
}



@media only screen and  (max-width : 900px) {
  img { max-width: 100%; }
  .question {display:none !important;}
  .container {width:100% !important;}

}

@media only screen and  (max-width : 750px) {

  .buttontext {display:none !important;}
}


@media only screen and (max-width : 650px) {
  img { max-width: 100%  }
  .btn-none {display:none !important;}
  #video-chat {width:50px}
  #status {display:none;}
  .container {
    padding-top:5px !important;
    padding-bottom:5px !important;
  }
}

@media only screen and (max-width : 585px) {
.modal {
  position:absolute;
  width:100%;

  top:0px !important;
  margin:0 !important;
z-index:999999999999999999;
  left:0%;
  border-radius:0;
}

.modal-body {
  max-height:none;
}



label {
  display:none;
}

.controls {
  margin:auto !important;
}

  .select {display:None;}
  .segment { float:left; padding:5px 0px; border-radius:0; width:50%; text-align:center;}
  h6 {display:none;}
  .user-cell-title { margin-left:0px; }
  #user-list { position: fixed;
top: 51px;
left: 0;
right: 0;
width:100%;}

input {
  padding:10px !important
}

.modal button {
  padding:10px 25px !important
}
}



@media only screen and (max-width : 433px) {
  select {display:None;}
}


.enabled-user {
  background:rgb(77, 144, 254) !important;
  color:white;
}