@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,600,500,700,800);



* {
font-family:"ARIAL" !important;
-webkit-font-smoothing:"antialiased" !important;
}

html {
    height:100%;
    width:100%;
    background-image: #f7f8f9;
    background-image: -webkit-radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background-image: -moz-radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background-image: -o-radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background-image: -ms-radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background-image: radial-gradient(50% 50%, circle farthest-side, #ffffff 0%, #eef0f2 100%);
    background:white;
	}

body {
	background: none !important;
}

form {
  padding:0;
  margin:0;
}

.container {
	background:none;
}

h1 {
	font-weight:900;
}

.hidden {
  display:none;
}

h3 {
    padding:10px;
    font-size:20px;
    font-weight:900 !important;
    font-family: "Raleway" !important;
}

.brand {
  font-family: "Raleway" !important;
  color:white;
  font-weight:800 !important;
}

.canvas {
 

  position:fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  min-height:100%;
  min-width:100%;
  z-index:0;
}

#status {
  color: #ccc;
  position: absolute;
  cursor: default;
  font-weight: 100;
  top: 90px;
  font-size:20px;
}

#video-chat {
  position:fixed;
  bottom:60px;
  right:10px;
  z-index:2;
  width:170px;
  opacity:1;
  -webkit-transition:opacity 0.2s;
}

#video-chat:hover {
    
    opacity:.5;
}

#video-chat-content {
	border-radius:3px;
  box-shadow:0 0 3px rgba(0,0,0,.1);
	border:1px solid rgba(0,0,0,.2);
}


.navbar-fixed-top {
  border-left:5px solid rgb(77, 144, 254);

}

.navbar-fixed-top .container {
  padding-top:10px;
  padding-bottom:10px;
}

.navbar-fixed-bottom .navbar-inner {
  background:rgba(240,240,240,.8);
  box-shadow:none !important;

}

.bottom-bar {
  padding-top:10px;
  padding-bottom:12px;
}

.bottom-bar li {
  margin-right:25px;
  font-size:11px;
}



.bottom-bar input,
.bottom-bar select {
  font-size:11px !important;
}

.btn-group {
  margin-top:0px !important;
}

.btn,  select {
    font-weight:700;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size:11px !important;
    -webkit-font-smoothing:"antialiased" !important;
    -webkit-appearance: none;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    background-color: rgb(245, 245, 245);
    background-image: none;
    background-repeat: repeat-x;
    border-bottom-color: rgb(179, 179, 179);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.0980392);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.0980392);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.0980392);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    line-height: 20px;
    margin: 0px !important;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    text-align: center;
    text-indent: 0px;
    outline:none !important;



}

select {
  background:white;

}



.btn-danger, .btn-danger:hover {
  background-color: #d14836;
background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
background-image: -o-linear-gradient(top,#dd4b39,#d14836);
background-image: linear-gradient(top,#dd4b39,#d14836);
border: 1px solid #c13828;
-moz-border-radius: 2px;
-o-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
text-transform:uppercase;
display: block;
-webkit-transition:none;
}


.btn-primary, .btn-primary:hover {
-webkit-align-items: flex-start;
-webkit-appearance: none;
-webkit-user-select: none;
-webkit-writing-mode: horizontal-tb;
background-color: rgb(77, 144, 254);


background-image: -webkit-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
background-image: -moz-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
background-image: -ms-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
background-image: -o-linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
background-image: linear-gradient(top,rgb(77, 144, 254),rgb(71, 135, 237));
-webkit-transition:none;
border-color: rgb(48, 121, 237);
border-style: solid;
border-width: 1px;
margin:5px 0 !important;
text-transform:uppercase;
}

canvas:active {
    cursor:default;
}

.l {
  font-weight:400;
  color:white;
  font-size:11px;

  margin-left:15px;
  margin-right:2px;
}

b {
font-weight:900;
}

.btn-none, .btn-none:hover, .btn-none:active {
  background:none;
  box-shadow:none;
  border:1px solid #333;
  text-shadow:none;
  color:#ccc;
  cursor:default;
}

.question  {
  font-size:16px;

  -webkit-font-smoothing:antialiased !important;
}




#user-list {
  position:fixed;
  top:80px;
  right:0;
  width:200px;
  
}

.user-cell {
  border-bottom:1px solid white;
  background:#eee;
  padding:5px;
  cursor:pointer;
  border-radius:2px 0 0 2px;
}

.user-cell-id {
  font-size:11px;
  font-weight:400;
  text-transform:uppercase;
  width:20px;
  padding:5px;
}

.user-cell-name {
  font-size:14px;
  font-weight:700;
}

/* iphone */
@media only screen and (min-width : 320px) and (max-width : 480px) {
  img { max-width: 100%; }
  
}

/* nexus 7 or ipad */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
  img { max-width: 100%; }
}

.enabled-user {
  background:darkGreen !important;
  color:white;
}